body {
    background: #dad9d9;
    font-family: Assistant, sans-serif;
    /* display: flex; */
    /* min-height: 90vh; */
  }
  .main-nav{
    margin-bottom: 0px !important;
    margin-top: 16px;
    text-align: center;
    align-items: center;
  }
  /* header */
  .nav-bar{
    /* background-color:#cf1201;  */
    background-color:#d1793b;
    display:flex;
    justify-content: space-between;
    /* z-index:-1000; */
    width:100%;
    height:58px;
    position: relative;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  }
  .logo a{
    /* display:inline; */
    text-decoration: none;
    color: #faf9f9;
    position: absolute;
    top:7px;
    padding-left: 15px;
    
  }
  .main-nav li{
    display:inline;
  }
  .main-nav li a{
    padding:7px 15px 7px 15px;
    color: #faf9f9;
    text-decoration: none;
    font-size: 20px;
  }
  .main-nav li a:hover{
    background-color:#faf9f9;
    transition: 0.5s;
    color:rgb(75, 75, 75);
  }
  
  .login {
    color: white;
    background: #136a8a;
    width:413px;
    height: 370px;
    background: 
      -webkit-linear-gradient(to right, #267871, #136a8a);
    background: 
      linear-gradient(to right, #d1793b, #f1a15f);
    margin: auto;
    box-shadow: 
      0px 2px 10px rgba(0,0,0,0.2), 
      0px 10px 20px rgba(0,0,0,0.3), 
      0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
    margin-top:8%;
  }
  .login .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login .head .company {
    font-size: 2.2em;
  }
  .login .msg {
    text-align: center;
    margin-bottom:30px;
  }
  .login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
  }
  .login .form .text::placeholder {
    color: #D3D3D3;
  }
  .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .login .form .password::placeholder {
    color: #D3D3D3;
  }
  .login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }
  .login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }
  .login .forgot {
    text-decoration: none;
    color: white;
    float: right;
  }
  .login .account{
    color:white;
    text-decoration: none;
    float:left;
    margin-top: 30px;
  }
  footer {
    text-align: center;
    margin-top:60px;
  }
/* 
  * {
    box-sizing: border-box;
  } */
  
  .loading-spinner{
    /* The image used */
    background-image: #bdbcbc;
  
  
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  
  /* Position text in the middle of the page/image */
   .loading-spinner{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    /* color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 20px;
 
    text-align: center; */



    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
