
.backg{
   
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.boxShadow{
    width:700px;
   
    
}
td{
    display: flex;
   
    padding-top: 20px;
   /* text-align: center; */
    /* align-items: center; */
 
}
td p{
    font-weight:bold;
    font-size: 20px;
}
tr{
    display: flex;
    flex-direction: column;
    padding-top: 20px; 
}
.img{
    width:300px;
    height:300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.td{
    display:flex;
    justify-content: space-around;
}
.backg h2{
    font-size: 34px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color:#ffffff;
}
.loading-spinner{
    /* The image used */
    background-image: #bdbcbc;
  
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  
  /* Position text in the middle of the page/image */
   .loading-spinner{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    /* color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 20px;
 
    text-align: center; */



    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner{
    /* The image used */
    background-image: #bdbcbc;
  
  
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  
  /* Position text in the middle of the page/image */
   .loading-spinner{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    /* color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 20px;
 
    text-align: center; */



    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
